<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout :: htmlhead"><meta charset="UTF-8"></head>
	<body>
		<div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>
			<a href="form.html" th:href="@{/cliente/novo}" class="btn btn-primary btn-lg" role="button">Novo</a>
 			<div class="border border-dark">
				<table class="table">
					<thead class="thead-light"> 
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">CEP</th>
							<th scope="col">Telefone</th>
							<th scope="col">CPF</th>
							<th scope="col">Cidade</th>
							<th scope="col">Bairro</th>
							<th scope="col">Número</th>
						</tr>
					</thead>
					<tbody>
						<tr scope="row" th:each="umcliente : ${listaclientes}">
							<td th:text="${umcliente.nome}"></td>
							<td th:text="${umcliente.CEP}"></td>
							<td th:text="${umcliente.telefone}"></td>
							<td th:text="${umcliente.CPF}"></td>
							<td th:text="${umcliente.cidade.nome}"></td>
							<td th:text="${umcliente.bairro}"></td>
							<td th:text="${umcliente.numero}"></td>
							<td>
								<a href="form.html" th:href="@{'/cliente/alterar/' + ${umcliente.idCliente}}" class="btn btn-secondary btn-lg" role="button">Alterar</a>
								<a href="#" class="btn btn-warning btn-lg" role="button" data-toggle="modal" data-target="#confirmaExclusao" th:data-id="${umcliente.idCliente}">Excluir</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal fade" id="confirmaExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-header">
			                <h5 class="modal-title">Confirmação de exclusão</h5>
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">X</span>
			                </button>
			            </div>
			            <div class="modal-body">
			                <p>Confirma a exclusão deste registro do Paciente?</p>
			            </div>
			            <div class="modal-footer">
			            	<a href="#" class="btn btn-warning btn-lg" id="btnConf" role="button">Sim</a>
			                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		<div th:include="layout :: footer" id="footer">(footer)</div>
		<script th:inline="javascript">
	      /*<![CDATA[*/
	           $('#confirmaExclusao').on('show.bs.modal', function (event) {
				  var button = $(event.relatedTarget)
				  var recipient = button.data('id')
				  var modal = $(this)
				  modal.find('#btnConf').attr("href","/cliente/remover/" + recipient)
				})
	       /*]]>*/
	    </script> 
	</body>
</html>